<!-- MODAL PUT REQUEST-->

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Put Request
                </h5>
                <button type="button"
                        class="btn-close" 
                        data-bs-dismiss="modal" 
                        aria-label="Close"
                        (click)="onCloseModal()">                    
                </button>
            </div>
            <div class="modal-body">
                <form class="d-flex flex-column align-items-center">
                    <div class="row mb-2" *ngFor="let obj of arrayForm; let in=index">
                        <div class="col-5 pe-1">
                            <input  type="text"
                                    class="form-control"
                                    placeholder="key..."
                                    [value]="obj.key"
                                    disabled
                                    name="key">
                        </div>
                        <div class="col-7 ps-1">
                            <input  type="text"
                                    class="form-control"
                                    placeholder="value..."
                                    [value]="obj.value"
                                    #values
                                    (change)="saveValues(obj.value, values.value)"
                                    name="value">
                        </div>
                    </div>
                    <div class="d-flex gap-2">
                        <button *ngIf="arrayForm.length > 1"
                                class="btn btn-sm btn-danger px-3 py-0 fw-bold fs-4 shadow"
                                type="button"
                                (click)="deleteInputs()">
                        -
                    </button>
                    <button class="btn btn-sm btn-info text-white px-3 py-0 fw-bold fs-4 shadow"
                            type="button"
                            (click)="addInputs()">
                        +
                    </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                        (click)="onCloseModal()">
                    Close
                </button>
                <button type="button"
                        class="btn btn-primary"
                        (click)="sendPutRequest(item[id])">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
