<nav class="px-3 container navbar navbar-expand-lg navbar-light bg-white altura">
    <a class="navbar-brand" href="#" routerLink="/">
      <img src="../../../assets/img/api-tester.webp" alt="Logo Api Tester" width="50">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end w-75" tabindex="-1" id="offcanvasRight">
      
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">
          <img src="../../../assets/img/api-tester.webp" alt="Logo Api Tester" width="50">
          <span class="ms-3 fw-bold text-dark text-opacity-75">API-Tester</span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">      
        <ul class="navbar-nav ms-3 d-flex flex-column flex-lg-row gap-2">
          <li class="nav-item active">
            <a class="nav-link d-flex align-items-center gap-1" href="#" routerLink="/">
              <span class="material-symbols-outlined text-success">
                home
              </span>
              Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-1" href="#" routerLink="/steps/step1">
              <span class="material-symbols-outlined text-success">
                rocket_launch
              </span>
              Comenzar
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-1" href="#" routerLink="/about-app">
              <span class="material-symbols-outlined text-success">
                help
              </span>
              Sobre la App
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>