<div class="list-card d-flex justify-content-between align-items-center
            py-2 px-3 my-2          
            border border-1 border-opacity-50 rounded shadow">
    <p class="m-0 text-dark text-opacity-75 fw-bold">
        {{ item[title] }}
    </p>
    <div>
        <button class="btn btn-sm btn-primary me-1"
                (click)="setSelectedItem(item)"
                [disabled]="userDataService.getURL_PUT() === '' || userDataService.getURL_PUT() === 'null'">
            Edit
        </button>
        <button class="btn btn-sm btn-danger"
                (click)="sendID(item[id])"
                [disabled]="userDataService.getURL_DELETE() === '' || userDataService.getURL_DELETE() === 'null'">
            Del
        </button>
    </div>
</div>

<app-modal  
            *ngIf="selectedItem"
            [item]="selectedItem"
            (closeModal)="setSelectedItem(null)">
</app-modal>