<app-navbar></app-navbar>

<main class="container altura border border-danger">
    <div class="d-flex flex-column align-items-center border border-primary">
        <h1>Interfaz gráfica para APIs de Back-End</h1>
        <p>Todos sabemos que cuando desarrollamos debemos ir probrando nuestro código, para esto solemos usar diversas plataformas, pero casi ninguna lo hace gráficamente. <br>
        Nuestra aplicación soluciona esto de una forma bastante interesante, podrás ver el resultado gráficamente, similar a como lo vería un usuario.</p>
        <button class="btn btn-lg btn-info text-white w-50"
                routerLink="/steps">
            Comenzar
        </button>
    </div>
</main>
