<app-navbar></app-navbar>

<main class="container altura d-flex align-items-center">
    <div class="py-3 d-flex flex-column flex-lg-row justify-content-center align-items-center">
        <img src="../../../assets/img/developer.jpg" alt="Logo developer"  class="col-10 col-md-7 col-lg-6 col-xl-6">
        <div class="text-center col-11 col-md-9 col-lg-6 col-xl-7 pb-3">

            <img src="../../../assets/img/api-tester.webp" alt="Logo Api Tester" width="205" class="opacity-75">
            
            <h1 class="fw-bold text-secondary">
                <span class="text-nowrap">Interfaz gráfica e interactiva</span> para APIs de Back-End
            </h1>
            <p>Todos sabemos que cuando desarrollamos debemos ir probrando nuestro código, para esto usamos diversas herramientas, pero casi ninguna lo hace gráficamente. <br>
            Esta aplicación lo soluciona de una forma bastante interesante, podrás ver el resultado del llamado a una API en una lista, donde podrás interactuar con las peticiones clásicas de CRUD.</p>
            <div class="d-flex justify-content-center gap-3">
                <button class="btn btn-lg btn-secondary"
                routerLink="/about-app">
                    Sobre la App
                </button>
                <button class="btn btn-lg btn-info text-white px-4"
                routerLink="/steps">
                    Comenzar
                </button>
            </div>
        </div>
    </div>
</main>
