<app-navbar></app-navbar>

<main class="container altura d-flex align-items-center">
    <div class="py-3 d-flex flex-column flex-lg-row justify-content-center align-items-center">
        <img src="../../../assets/img/developer.jpg" alt=""  class="col-10 col-md-7 col-lg-6 col-xl-5">
        <div class="text-center col-11 col-md-9 col-lg-6 col-xl-7">
            <h1>Interfaz gráfica e interactiva para APIs de Back-End</h1>
            <p>Todos sabemos que cuando desarrollamos debemos ir probrando nuestro código, para esto solemos usar diversas herramientas, pero casi ninguna lo hace gráficamente. <br>
            Nuestra aplicación soluciona esto de una forma bastante interesante, podrás ver el resultado del llamado a tu API en una lista, donde podrás interactuar con las peticiones clásicas de CRUD.</p>
            <button class="btn btn-lg btn-info text-white w-50"
                    routerLink="/steps">
                Comenzar
            </button>
        </div>
    </div>
</main>
