<section class="vh-100 d-flex justify-content-center align-items-center">
    <div class="col-9 col-sm-7 col-md-6 col-lg-5 col-xl-4">
        <div class="alert alert-warning mb-2 shadow">
            <p class="m-0 fw-bold">¡Aviso!</p>
            <p class="m-0">
                - No pongas como strings ("entre comillas") las propiedades que vayas a enviar en la request.
            </p>
        </div>
        <div class="card border border-2 shadow">
            <div class="card-body my-2">

                <!-- TITULO + FORM-POST-REQUEST -->
                <app-top-card></app-top-card>
    
                <!-- LISTA -->
                <app-list-card 
                    *ngFor="let item of items$ | async"
                    [item]="item"
                    (clickedDelete)="eliminar($event)">
                </app-list-card>
                
            </div>
        </div>
    </div>
</section>