<app-spinner></app-spinner>

<section class="my-5 my-xl-0 d-flex justify-content-center align-items-center">
    <button class="mx-lg-5 btn btn-outline-secondary abs"
            routerLink="/steps/step2">
        <- Atrás
    </button>
    <div class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4">
        <div class="alert alert-warning mb-2 shadow">
            <p class="m-0 fw-bold">¡Aviso!</p>
            <p class="m-0">
                - No pongas como strings ("entre comillas") las propiedades que vayas a enviar en la request.
            </p>
        </div>

        <div class="card border border-2 shadow card-height">
            <div class="card-body my-2 d-flex flex-column justify-content-between">

                <!-- TITULO + FORM-POST-REQUEST -->
                <app-top-card></app-top-card>
    
                <!-- LISTA -->
                <div class="list-cards-height">
                    <app-list-card 
                        *ngFor="let item of items | paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                        }"
                        [item]="item"
                        (clickedDelete)="eliminar($event)">
                    </app-list-card>

                    <div *ngIf="items.length <= 0">
                        <div class="d-flex flex-column align-items-center">
                            <img src="../../../assets/img/sin-resultados.jpg" alt="Imagen sin resultados" class="mb-3" width="250">
                            <div class="alert alert-danger">
                                <p class="m-0">
                                    - Por favor verifica los datos ingresados en la URL "get" y vuélvelo a intentar.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div  *ngIf="items.length > 0" class="pe-4 pt-4">
                    <pagination-controls
                        class="text-center"
                        previousLabel=""
                        nextLabel=""
                        (pageChange)="page = $event">
                    </pagination-controls>
                </div>
                
            </div>
        </div>
    </div>
</section>